@font-face {
	font-family: 'BigJohn';
	src: url("../fonts/BIG JOHN.otf");
}
@font-face {
	font-family: 'SansProBlack';
	src: url("../fonts/SourceSansPro-Black.ttf");
}
@font-face {
	font-family: 'SourceProLight';
	src: url("../fonts/SourceSansPro-Light.otf");
}
@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/OpenSans-Regular.ttf");
}


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: white;
}

.main {
	width: 100%;
	height: 100vh;
	background: url(../img/banner.png);
	background-size: cover;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	padding: 7vh 5%;
}
.logo {
	font-family: 'BigJohn';
	color: white;
	font-size: 35px;
}
.nav {
	font-family: 'OpenSans';
	color: white;
	font-size: 20px;
	display: flex;
}
.nav li {
	margin-left: 45px;
}
.title {
	width: 100%;
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.title h1 {
	font-family: 'SourceProLight';
	color: white;
	font-size: 55px;
	letter-spacing: 10px;
}
.title p {
	font-family: 'OpenSans';
	color: white;
	text-align: center;
	font-size: 25px;
	margin-top: 40px;
}
.about {
	width: 100%;
	height: 70vh;
	padding: 0 250px;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}
.about h1 {
	font-family: 'SourceProLight';
	letter-spacing: 5px;
	font-weight: lighter;
}
.about p {
	font-size: 20px;
	margin-top: 70px;
	letter-spacing: 1px;
	font-family: 'Open Sans';
	color: grey;
	line-height: 32px;
}
.about a {
	display: block;
	color: black;
	margin-top: 60px;
	width: 200px;
}
.readmore {
	border: 1px solid black;
	border-radius: 30px;
	width: 200px;
	height: 50px;
	font-size: 21px;
	font-family: 'OpenSans';
	text-align: center;
	padding: 10px;
}
.about-text {
	position: relative;
	bottom: 10px;
}
.about img {
	width: 320px;
	height: 500px;
	margin-left: 300px;
}
.details {
	width: 100%;
	height: 80vh;
	background-color: #F3F3F3;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 110px;
}
.details-about {
	text-align: center;
}
.details-about h1 {
	font-family: 'SourceProLight';
	font-weight: lighter;
	letter-spacing: 5px;
}
.details-about p {
	font-family: 'SourceProLight';
	margin-top: 35px;
	font-size: 23px;
	letter-spacing: 2px;
}
.details-icons {
	display: flex;
}
.pe-7s-like {
	font-size: 50px;
}
.pe-7s-mouse {
	font-size: 45px;
}
.pe-7s-light {
	font-size: 50px;
}
.details-icons div {
	margin: 80px 50px;
	width: 80px;
	height: 80px;
	background-color: #00BE9A;
	border-radius: 50px;
	text-align: center;
	padding-top: 15px;
	color: white;
}
.creative {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 80%;
}
.creative h1 {
	font-family: 'OpenSans';
	font-weight: lighter;
	color: #444444;
}
.creative p {
	font-family: 'OpenSans';
	font-size: 20px;
	color: #899098;
	margin-top: 40px;
	letter-spacing: 1px;
}
.creative-texts {
	display: flex;
	justify-content: space-between;
}
.featured {
	width: 100%;
	height: 340px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.featured h1 {
	font-family: 'SourceProLight';
	font-weight: lighter;
	letter-spacing: 4px;
	padding-bottom: 40px;
}
.featured p {
	font-family: 'OpenSans';
	font-size: 21px;
	letter-spacing: 1px;
	color: #959AA1;
	margin-top: 15px;
	text-align: center;
	padding-bottom: 20px;
}
.nav-layer {
	width: 100%;
	height: 460px;
	display: flex;
}
.layer-whiskey {
	width: 50%;
}
.layer-vintage {
	width: 25%;
}
.layer-branding {
	width: 25%;
}
.submit {
	font-family: 'OpenSans';
	width: 100%;
	height: 170px;
	background: url(../img/LayerSubmit.png);
	background-size: cover;
	padding: 0px 220px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.submit-text {
	font-size: 28px;
	color: white;
	letter-spacing: 2px;
}
.submit-button {
	font-size: 22px;
	border: 1px solid white;
	border-radius: 30px;
	padding: 10px 30px;
}
.services {
	width: 100%;
	height: 970px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ourservices {
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.ourservices h1 {
	font-family: 'SourceProLight';
	font-weight: lighter;
	letter-spacing: 2px;
}
.ourservices p {
	font-family: 'OpenSans';
	color: #959AA1;
	text-align: center;
	margin-top: 35px;
}
.graphic {
	display: flex;
}
.graphic-images {
	font-size: 52px;
	color: white;
}
.graphic-images div {
	width: 60px;
	height: 60px;
	text-align: center;
	margin-top: 50px;
}
.pe-7s-tools {
	background-color: #808790;
	width: 80px;
	height: 80px;
	padding-top: 13px;
	border-radius: 50px;
}
.pe-7s-paint {
	background-color: #00BE9A;
	width: 80px;
	height: 80px;
	padding-top: 13px;
	border-radius: 50px;
}
.pe-7s-joy {
	background-color: #808790;
	width: 80px;
	height: 80px;
	padding-top: 13px;
	border-radius: 50px;
}
.pe-7s-plug {
	background-color: #808790;
	width: 80px;
	height: 80px;
	padding-top: 13px;
	border-radius: 50px;
}
.graphic-text {
	font-family: 'OpenSans';
}
.graphic-text p {
	margin-top: 50px;
}